@import url('https://fonts.googleapis.com/css?family=Raleway:300');

* { box-sizing: border-box; }

html{
    scroll-behavior:smooth;
    align-items:center;
    justify-content:center;
    font-family: "Raleway", arial;
    font-weight:2em;
    
    --bg:#FCFCFC;
    --bg-panel:#EBEBEB;
    --color-headings:#0077FF;
    --color-text:#333333;
}
html[data-theme='dark']{
    --bg:#333333;
    --bg-panel:#434343;
    --color-headings:#3694FF;
    --color-text:#858585;
}
body {
    margin:0;
    background-color:var(--bg);
    font-family: "Raleway", arial;
    }
.nav
{
    position:fixed;
    bottom:0;
    width:100%;
    height:55px;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
    background-color:#ffffff;
    display:flex;
    overflow-x:auto;
    z-index:1;
    /*---padding:20px;--*/
    font-family:"Raleway", arial;
    /*--background-color:black !important;---*/
}
.nav__link
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    flex-grow:1;
    min-width:50px;
    overflow:hidden;
    white-space:nowrap;
    font-family:sans-serif;
    font-size:13px;
    color:#444444;
    text-decoration:none;
    -webkit-tap-highlight-color:transparent;
    transition:background-color 0.1s ease-in-out;
    color:#262626;
    
}
.nav__link:hover
{
    background-color:#eeeeee;
    text-decoration:none;
}
.nav__link--active
{
    color:#0013a8;
}
.nav__icon
{
    font-size:18px;
}
.nav__text
{
    text-decoration:none;
}
/*--------------main pic-------------*/

/* Container holding the image and the text */
.mainpic {
  margin:0;
  top:-10px;
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 10px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 24px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:30px;
}
.top-left.sub
{
    margin:230px 0 0;
    font-size:15px;
}
div {
    /*--widthh: 200px;    
    height: 200px;--*/
    background: none;    
    /*--margin:10px auto;
    color: #f2f2f2;--*/
    font-size: 1em;
    text-align: center;
    /*--color:#fff;--*/
    padding-top: 10px;
    border-radius: 2px;
    font-family: "Raleway", arial;
    overflow:hidden; 
}
input{
    margin:10px 50px;
}
button
{
    margin:10px 50px;
    padding:2px 10px 2px 10px;
    background:transparent ;
    border-left-color:#0013a8;
    border-right-color:#0013a8;
    border-top-color:#0013a8;
    border-bottom-color:#0013a8;
    border-radius:3px;
}
textarea
{
   margin:10px 50px; 
}
p
{
    margin:12px;
}
.container
{
   position:relative; 
   display:inline-block ;
   justify-content:space-around;
   align-items:center;
   overflow-x:scroll;
   overflow-y:hidden;
   white-space:nowrap;
}
.container .card
{
    display:inline-block;
    width:240px;
    margin:15px;
    padding:40px 30px;
    background:#ebf5fc;
    box-shadow:-6px -6px 20px rgba(255,255,255,1),
    6px 6px 20px rgba(0,0,0,0.1);
}
.container .card:hover
{
    box-shadow:inset -6px -6px 10px rgba(255,255,255,0.5), inset 6px 6px 20px rgba(0,0,0,0.05);
}
.container.card .imgBx
{
    position:relative;
    text-align:center;
}
.container .card .imgBx img
{
   max-width:320px;
   max-height:100px;
}
.container .card .contentBx
{
    position:relative;
    margin-top:20px;
    text-align:center;
    white-space:wrap;
}
.container .card .contentBx h2
{
    color:#32a3b1;
    font-weight:700;
    font-size:1.4em;
    letter-spacing:2px;
}
.container .card .contentBx p
{
    color:#32a3b1;
}
.container .card .contentBx a
{
    display:inline-block;
    padding:10px 20px;
    margin-top:15px;
    border-radius:40px;
    color:#32a3b1;
    font-size:16px;
    text-decoration:none;
    box-shadow:-4px -4px 15px rgba(255,255,255,1), 4px 4px 15px rgba(0,0,0,0.1);
}
.container .card .contentBx a:hover
{
    box-shadow:inset -4px -4px 10px rgba(255,255,255,0.5), inset 4px 4px 10px rgba(0,0,0,0.1);
}
.conatainer .card a:hover span
{
    display:block;
    transform:scale(0.9);
}
.comtainer .card:hover .imgBx,
.containet .card:hover .contentBx
{
    transform:scale(0.98);
}
ul{
    text-decoration:none;
}
.in
{
    height:10vh;
    background:#5b78c7;
    font-family:"Raleway", arial;
    z-index:9;
}
.line
{
    display:block;
    width:35px;
    height:2px;
    background:#262626;
    border-radius:5px;
    margin-right:7px;
    margin-top:6px;
    padding-top:2px;
    box-shadow:0 2px 5px rgba(255,101,47,.2);
    transition: transform 250ms ease-in-out;
    transition:all 5s ease-in-out;
}
.line:nth-child(1)
{
    margin-bottom:2px;
}
.line:nth-child(2)
{
    margin-top:3px;
}
.line:nth-child(3).three
{
    margin-top:3px;
}
.line.three
{
    margin-top:5px;
}
.line::before .line::after
{
    content:'';
    position:absolute;
    width:50px;
    height:6px;
    background:#262626;
    border-radius:5px;
    box-shadow:0 2px 5px rgba(255,101,47,.2);
    transition:all .5s ease-in-out;
}
.line::before
{
    transform:translateY(-16px);
    background:#fff;
    opacity:1;
}
.line::after
{
    transform:translateY(16px);
    background:#fff;
    opacity:1;
}
.nav-links
{
    position:fixed;
    background:#0013a8;
    height:100vh;
    width:100%;
    flex-direction:column;
    overflow-x:hidden;
    /*---display:none;---*/
    transform:translateY(50%, 50%);
    clip-path:circle(10px at 90% 90%);
    -webkit-clip-path:circle(10px at 90% 90%);
    transition:all 1s ease-in-out;
    pointer-events:none;
}
.nav-links.open
{
    height:100vh;
    clip-path:circle(1000px at 90% 90%);
    -webkit-clip-path:circle(1000px at 90% 90%);
    pointer-events:all;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */ 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  margin-top:20px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  margin-left: 20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation*/ 
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size)*/ 
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*--------footer---------*/
.footer
{
    background:#111;
    color:#fff;
}
.fab, .fas
{
    color:#fff;
}


/*--------------dark mode-----------*/
.container.darkmode
{
    background-color:var(--bg-panel);
    height:80px;
    width:80px;
}
input[type="checkbox"]
{
    position:relative;
    width:80px;
    height:40px;
    -webkit-appearance:none;
    background:#c6c6c6;
    outline:none;
    border-radius:20px;
    box-shadow:inset 0 0 5px rgba(0,0,0,.2);
    transition:.5s;
}
input:checked[type="checkbox"]
{
    background:#03a9f4;
}
input[type="checkbox"]:before
{
    content:'';
    position:absolute;
    width:40px;
    height:40px;
    border-radius:20px;
    top:0;
    left:0;
    background:#fff;
    transform:scale(1.1);
    box-shadow:0 2px 5px rgba(0,0,0,.2);
    transition:.5s;
}
input:checked[type="checkbox"]:before
{
    left:40px;
}
html.transition,
html.transition*,
html.transition*:before,
html.transition*:after
{
    transition:all 750ms !important;
    transition-delay:0 !important;
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: var(--color-headings);
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


/*----------------articles card-----*/
.article_img img
{
    width:100%;
}
.article{
    margin-top:10px;
    margin-bottom:20px;
    width:100%;
    max-width:60rem;
    padding:1rem;
    background:#fcfcfc;
    box-shadow:0 1.4rem 2rem rgba(0,0,0,.2);
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:.1rem;
}
.article_img
{
    min-width:100%;
    max-width:100%;
    height:auto;
    /*transform:translate(0, rem);*/
    position:relative;
}
.article_img img
{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    border-radius:.1rem;
}
.article_img::before:hover
{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:linear-gradient(to right, rgba(79, 172, 255, .8), rgba(0, 242, 254, .8));
    box-shadow:5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius:.8rem;
}
.article_title
{
    font-size:2rem;
    margin:1.1rem 0 .7rem;
    text-transform:uppercase;
    color:#4facfe;
}
.article_text
{
    margin-left:.1rem;
    margin-bottom:3rem;
    font-size:1.2rem;
    font-weight:1rem;
    color:rgba(0,0,0,.7);
    text-align:left;
}
.article_cta
{
    display:inline-block;
    padding:1.5rem 3rem;;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:1.2rem;
    color:#fff;
    background-image:linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius:.8rem;
    text-decoration:none;
}
.blog-post_cta:hover
{
    background-image:linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}


/*----------------sermons card-----*/
.blog-post_img img
{
    width:100%;
}
.blog-post{
    margin:10px;
    margin-top:20px;
    max-width:60rem;
    padding:1rem;
    background:#ebf5fc;
    box-shadow:0 1.4rem 8rem rgba(0,0,0,.2);
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:.8rem;
}
.blog-post_img
{
    min-width:100%;
    max-width:100%;
    height:auto;
    /*transform:translate(0, rem);*/
    position:relative;
}
.blog-post_img img
{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    border-radius:.8rem;
}
.blog-post_img::before:hover
{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:linear-gradient(to right, rgba(79, 172, 255, .8), rgba(0, 242, 254, .8));
    box-shadow:5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius:.8rem;
}
.blog-post_date span
{
    display:block;
    color:rgba(0,0,0,.5);
    font-size:1.1rem;
    font-weight:600;
    margin:.5rem 0;
    display:none;
}
.blog-post_title
{
    font-size:2rem;
    margin:.8rem 0 2rem;
    text-transform:uppercase;
    color:#4facfe;
}
.blog-post_text
{
    margin-bottom:3rem;
    font-size:1.2rem;
    color:rgba(0,0,0,.7);
}
.blog-post_cta
{
    display:inline-block;
    padding:1.1rem 2.5rem;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:1rem;
    color:#fff;
    background-image:linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius:.8rem;
    text-decoration:none;
}
.blog-post_cta:hover
{
    background-image:linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
    text-decoration:none;
}
/*.extra-container
{
    display:inline-block;
    position:relative;
    justify-content:space-around;
    align-items:center;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
}*/


/*-------------top navigation-------*/
.top-nav
{
    position:fixed;
    top:0;
    width:100%;
    height:55px;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
    background-color:#ffffff;
    display:flex;
    overflow-x:auto;
    z-index:1;
    /*---padding:20px;--*/
    font-family:"Raleway", arial;
    /*--background-color:black !important;---*/
}
.top-nav__link
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    flex-grow:1;
    min-width:20px;
    max-width:50px;
    left:0;
    overflow:hidden;
    white-space:nowrap;
    font-family:sans-serif;
    text-align:left;
    font-size:13px;
    color:#444444;
    text-decoration:none;
    -webkit-tap-highlight-color:transparent;
    transition:background-color 0.1s ease-in-out;
    color:#262626;
    
}
.top-nav__link:hover
{
    background-color:#eeeeee;
    text-decoration:none;
}
.nav__link--active
{
    color:#0013a8;
}
.top-nav__icon
{
    font-size:50px;
}
.top-nav__text
{
    text-decoration:none;
}
.top-nav .line
{
    position:fixed;
    right:0;
}
.hamburger
{
    right:0;
    display:none;
}
blue
{
    color:#4facfe;
}
